body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
}

#header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(1%, rgba(0, 0, 0, 0.79)), color-stop(9%, rgba(0, 0, 0, 0.72)), color-stop(98%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

#header .navbar_link_brand {
  padding: 20px 0px 0px 20px;
}

#header .navbar_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

#header .navbar_items .icon {
  padding: 45px 20px 0px 20px;
}

#header .navbar_items .icon a {
  color: #dab33e !important;
}

#header .navbar_items .navbar_link {
  padding: 45px 20px 0px 20px;
}

#header .navbar_items .navbar_link a {
  text-decoration: none;
  color: #fff;
}

#header .navbar_items .navbar_link:hover {
  border-top: 2px solid #fff;
}

#header .navbar_items_right {
  margin-left: auto;
}

#header .navbar_link_toggle {
  display: none;
}

#header .contain {
  text-align: center;
}

#header .contain p {
  margin: 0 auto;
  font-size: 80pt;
  color: #fff;
  font-weight: 300;
  width: 52%;
}

#header .contain img {
  width: 100%;
}

#header .contain .buttons {
  padding-bottom: 20px;
}

#header .contain .buttons .blackbtn {
  color: #fff;
  border: #000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px 20px 40px;
  outline: none;
  cursor: pointer;
}

#header .contain .buttons .blackbtn:hover {
  background-color: #000;
}

#header .contain .buttons .whitebtn {
  color: #000;
  border: 0px #fff solid;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 36px 20px 36px;
  outline: none;
  cursor: pointer;
}

#header .contain .buttons .whitebtn:hover {
  background-color: #fff;
}

#main .about {
  padding-top: 20px;
  background-image: url(../img/section2background.jpg);
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#main .about .content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#main .about .content h2 {
  font-size: 30px;
  color: #dab33e;
}

#main .about .content img {
  max-width: 247px;
}

#main .about .content p {
  width: 70%;
}

#main .about img {
  max-width: 100%;
}

#main .about .imageDish {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .ingredients {
  padding: 80px 0px 80px 0px;
  background-image: url(../img/section3background.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .ingredients .boxIngredients {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.45+0,0.45+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#73000000',GradientType=0 );
  /* IE6-9 */
  width: 560px;
  height: 560px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .ingredients .boxIngredients h1 {
  padding-top: 30px;
  font-size: 30px;
  color: #fff;
}

#main .ingredients .boxIngredients p {
  width: 80%;
  text-align: center;
  color: #fff;
  line-height: 2;
  padding-bottom: 30px;
}

#main .menu .tzatsiki {
  list-style-type: none;
  width: 50%;
  margin: auto;
  padding: 0;
}

#main .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main .menu .list:after {
  content: '';
  border-bottom: solid 1px #cc9900;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#main .menu .title {
  margin-right: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  #header {
    background-size: cover;
  }
  #header .navbar_items,
  #header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .navbar_items {
    display: none;
  }
  #header .navbar_items .navbar_link {
    padding: 45px 20px 0px 20px;
  }
  #header .navbar_items .navbar_link a {
    text-decoration: none;
    color: #fff;
  }
  #header .navbar_items .navbar_link:hover {
    border-top: 0px solid #fff;
  }
  #header .navbar_items_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
    margin: 0 auto;
  }
  #header .navbar_toggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .navbar_link_toggle {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    top: 4%;
    right: 6%;
  }
  #header .contain {
    padding-top: 20px;
  }
  #header .contain p {
    font-size: 35pt;
  }
  #main .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  #header .contain p {
    font-size: 25pt !important;
  }
  #main .about .content p {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #header .contain p {
    font-size: 30pt;
  }
}
/*# sourceMappingURL=style.css.map */