$font: 'Gentium Book Basic',
serif;

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1600px;

    .navbar {
        display: flex;
        color: #fff;
        padding: 20px 0px 0px 20px;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=0);
        /* IE6-9 */
    }

    .navbar_items {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 0px;

        .icon {
            a {
                color: #dab33e;
            }
        }

        .navbar_link,
        .icon {
            padding: 20px 20px 0px 20px;

            a {
                font-family: $font;
                text-decoration: none;
            }
        }

        .navbar_link:hover {
            border-top: 2px solid #fff;
        }
    }

    .navbar_items_right {
        margin-left: auto;
    }

    .navbar_link_toggle {
        display: none;
    }

    .contain {
        text-align: center;

        p {
            margin: 0 auto;
            font-size: 80pt;
            color: #fff;
            font-weight: 300;
            width: 52%;
        }

        img {
            width: 100%;
        }

        .buttons {
            padding-bottom: 20px;

            .blackbtn {
                color: #fff;
                border: #000;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px 40px 20px 40px;
                outline: none;
            }

            .whitebtn {
                color: #fff;
                border: 0px #fff solid;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 20px 40px 20px 40px;
                outline: none;
            }
        }
    }

}

#main {
    .aboutsection {
        background-image: url(../img/section2background.jpg);
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    #header {
        background-size: cover;

        .navbar_items,
        .navbar {
            flex-direction: column;
        }

        .navbar_items {
            display: none;
        }

        .navbar_items_right {
            margin-left: 0;
        }

        .navbar_toggleShow {
            display: flex;
            align-items: center;
        }

        .navbar_link_toggle {
            align-self: flex-end;
            display: initial;
            position: absolute;
            cursor: pointer;
            top: 4%;
            right: 6%;
        }
    }

    .contain {
        p {
            font-size: 40pt;
        }
    }
}


@media (max-width: 576px) {
    #header {
        .contain {
            p {
                font-size: 30pt;
            }
        }
    }
}